.sidebar{
	
	min-width: 220px;

	nav {
		a {
			&:hover {
				background-color: lighten(map-get($theme-colors, primary), $theme-color-interval*3);
			}
			&.active {
				border-left: 10px solid lighten(map-get($theme-colors, primary), $theme-color-interval*6);
				background-color: lighten(map-get($theme-colors, primary), $theme-color-interval*4.5);
			}
		}

		.nav-item > div {
			border-left: 10px solid lighten(map-get($theme-colors, primary), $theme-color-interval*6);
		}
	}

	.navbar-dark{
		nav {
			a {
				&:hover {
					background-color: lighten(map-get($theme-colors, primary), $theme-color-interval);
				}
				&.active {
					border-left: 10px solid darken(map-get($theme-colors, primary), $theme-color-interval*2);
					background-color: lighten(map-get($theme-colors, primary), $theme-color-interval*2);
				}
			}
		}

		.nav-item > div {
			border-left: 10px solid darken(map-get($theme-colors, primary), $theme-color-interval*2);
		}
	}
	
}

.app {
	position: absolute;
	width: 100%;
	height: 100%;
}

.overflow-hidden { overflow: hidden; }

.table-bordered {
	thead th {
		border-bottom: 2px solid lighten(map-get($theme-colors, primary), $theme-color-interval);
	}
	th, td {
		border: 1px solid lighten(map-get($theme-colors, primary), $theme-color-interval);
	}
}

.error {
	position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    padding: 20px;
}